body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.img {
    height: 80%;
    width: 40% ;
    object-position: cover;
    align-items: baseline;
}

section{
    margin-bottom: 20px;
}

.habilidades {
    list-style: none;
    padding: 0;
}

.habilidades li{
    margin: 5px 0;
}

